/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* --- Header --- */
.header {
    background-color: #d62300;
    color: white;
}

.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    background-color: #ffcc00;
    font-size: 14px;
}

.pickup-btn {
    background: #ffd500;
    border: none;
    padding: 6px 18px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

/* --- Navbar --- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d62300;
    padding: 10px;
}

    .navbar .logo img {
        height: 60px;
        margin-right: 30px;
    }

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

    .nav-links a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 8px 14px;
        border-radius: 8px;
    }

        .nav-links a:hover, .nav-links .active {
            background-color: #fff;
            color: #d62300;
        }

/* --- Footer --- */
.footer {
    background-color: #d62300;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 20px;
}

    .footer img {
        height: 60px;
    }

.footer-right img {
    height: 40px;
    margin: 5px;
}

.verify-img {
    height: 80px;
}

.cookie-bar {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
