<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Jollibee Admin</title>
    <link rel="stylesheet" href="~/css/admin.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header class="bg-danger text-white p-3">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Quản trị Jollibee</h2>
                <nav>
                    <a href="/Admin/Index" class="text-white mx-2 btn btn-primary mb-3">Dashboard</a>
                    <a href="/Admin/SanPham" class="text-white mx-2 btn btn-primary mb-3">Sản phẩm</a>
                    <a href="/Admin/DonHang" class="text-white mx-2 btn btn-primary mb-3">Hóa đơn</a>
                    <a href="/Account/Logout" class="text-white mx-2 btn btn-close-white mb-3" >Đăng xuất</a>
                </nav>
            </div>
        </div>
    </header>
    <main class="container-fluid mt-4">
        @RenderBody()
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>